<include file="Index/header" />
<include file="Index/nav" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        借款资料
        <small>借款信息列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 客户资料</a></li>
        <li><a href="#">客户信息列表</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-xs-12">
              <!-- Info boxes -->
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-aqua"><i class="fa fa-rmb fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前放款合计</span>
                              <span class="info-box-number">{$sum_principal}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-red"><i class="fa fa-gift fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前收款合计</span>
                              <span class="info-box-number">{$sum_rmoney}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->

                  <!-- fix for small devices only -->
                  <div class="clearfix visible-sm-block"></div>

                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-green"><i class="fa fa-bullseye fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">实际支出合计</span>
                              <span class="info-box-number">{$sum_expenditure}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-yellow"><i class="fa fa-glass fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前放款数量合计</span>
                              <span class="info-box-number">{$countLoans}&nbsp;笔</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
              </div>
              <!-- /.row -->

          </div>

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">

                <div class="col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-body panel-body-footer">
                            <form class="form-inline search-line" action="/index.php" method="get">
                                <input type="hidden" name="m" value="home"/>
                                <input type="hidden" name="c" value="loan"/>
                                <input type="hidden" name="a" value="index"/>

                                <div class="form-group">
                                    <label>客户姓名&nbsp;</label>
                                    <select class="form-control selectpicker show-tick" data-live-search="true" title="按客户姓名搜索" data-size="8" name="search_customer_id" id="search_customer_id" data-width="fit" multiple>
                                        <volist name="customers" id="customer">
                                            <if condition="$customer.selected eq 1">
                                                <option value="{$customer.id}" selected>{$customer.name}</option>
                                                <else />
                                                <option value="{$customer.id}">{$customer.name}</option>
                                            </if>

                                        </volist>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>借款类型&nbsp;</label>
                                    <select class="form-control selectpicker show-tick" title="按借款类型搜索" data-size="8" name="search_product_id" id="search_product_id" data-width="fit" multiple>
                                        <volist name="products" id="product">
                                            <if condition="$product.selected eq 1">
                                                <option value="{$product.product_id}" selected>{$product.product_name}</option>
                                                <else />
                                                <option value="{$product.product_id}">{$product.product_name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>客户经理&nbsp;</label>
                                    <select class="form-control selectpicker show-tick" data-live-search="true" title="按客户经理搜索" data-size="8" name="search_staff_id" id="search_staff_id" data-width="fit" multiple>
                                        <volist name="staffs" id="staff">
                                            <if condition="$staff.selected eq 1">
                                                <option value="{$staff.staff_id}" selected>{$staff.staff_name}</option>
                                                <else />
                                                <option value="{$staff.staff_id}">{$staff.staff_name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>外访经理&nbsp;</label>
                                    <select class="form-control selectpicker show-tick" data-live-search="true" title="按外访经理搜索" data-size="8" name="search_foreign_id" id="search_foreign_id" data-width="fit" multiple>
                                        <volist name="foreigns" id="foreign">
                                            <if condition="$foreign.selected eq 1">
                                                <option value="{$foreign.staff_id}" selected>{$foreign.staff_name}</option>
                                                <else />
                                                <option value="{$foreign.staff_id}">{$foreign.staff_name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>

                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>借款状态&nbsp;</label>
                                    <select class="form-control selectpicker show-tick" title="选择状态" data-size="8" name="search_loan_status" id="search_loan_status" data-width="fit" multiple>
                                        <volist name="statusSearchArray" id="status">
                                            <if condition="$status.selected eq 1">
                                                <option value="{$status.id}" selected>{$status.name}</option>
                                                <else />
                                                <option value="{$status.id}">{$status.name}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                                <if condition="$userInfo.jurisdiction eq 2">
                                    &nbsp;&nbsp;
                                    <div class="form-group">
                                        <label>所属公司&nbsp;</label>
                                        <select class="form-control selectpicker show-tick" title="按所属公司搜索" data-size="8" name="search_department" id="search_company" data-width="fit" multiple>
                                            <volist name="companys" id="company">
                                                <if condition="$company.selected eq 1">
                                                    <option value="{$company.company_id}" selected>{$company.smallname}</option>
                                                    <else />
                                                    <option value="{$company.company_id}">{$company.smallname}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                </if>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>借款日期&nbsp;</label>
                                    <input type="text" class="form-control" placeholder="按借款日期范围搜索" size="40" name="search_datepicker" value="{$input_datepicker}" id="reservationtime">
                                </div>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-info" id="get-search"><i class="fa fa-search fa-fw"></i> 立即搜索</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-default" id="export-loan"><i class="fa fa-file-excel-o fa-fw"></i> 导出表格</button>
                            </form>


                        </div>
                    </div>



                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">借款日期</th>
                  <th class="text-center">客户姓名</th>
                  <th class="text-center">借款类型</th>
                  <th class="text-center">借款本金</th>
                    <th class="text-center">已还金额</th>
                  <!--<th class="text-center">利息（元）</th>-->
                  <th class="text-center">还款时间</th>
                  <th class="text-center">还款周期</th>
                  <th class="text-center">每期还款</th>
                  <!--<th class="text-center">每期利息</th>-->
                  <!--<th class="text-center">手续费</th>-->
                  <!--<th class="text-center">保证金</th>-->
                  <!--<th class="text-center">同行返点</th>-->
                  <th class="text-center">实际到账</th>
                  <th class="text-center">公司支出</th>
                    <th class="text-center">损益情况</th>
                  <th class="text-center">客户经理</th>
                  <th class="text-center">外访经理</th>
                  <th class="text-center">外访资料</th>
                    <if condition="$userInfo.jurisdiction eq 2">
                        <th class="text-center">所属公司</th>
                    </if>
                  <th class="text-center">到期日期</th>
                  <!--<th class="text-center">已还期数</th>-->
                  <!--<th class="text-center">应还总额</th>-->

                  <th class="text-center">状态</th>
                  <th class="text-center">短信提醒</th>
                  <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="loans" id="loan">
                  <tr>
                      <td class="text-center">{$loan.create_time|date="Y-m-d",###}</td>
                      <td class="text-center"><a href="{:U('home/customer/index')}&name={$loan.customer_name}">{$loan.customer_name}</a></td>
                    <td class="text-center">{$loan.product_name}</td>
                    <td class="text-center info">{$loan.principal}</td>
                      <td class="text-center success">{$loan.repayment_rmoney}</td>
                    <!--<td class="text-center ">{$loan.interest}</td>-->
                    <td class="text-center">{$loan.cycle_name}</td>
                    <!--<td class="text-center">{$loan.cyclical}</td>-->
                      <td class="text-center"><a href="{:U('home/repayments/index')}&search_loan_id={$loan.loan_id}">{$loan.repay_cyclical}</a></td>
                    <td class="text-center danger" data-container="body" data-toggle="tooltip" data-placement="top" title="本金：{$loan.cyc_benjin}元，利息：{$loan.cyc_interest}元">{$loan.cyc_principal}</td>
                    <!--<td class="text-center">{$loan.cyc_interest}</td>-->
                    <!--<td class="text-center">{$loan.poundage}</td>-->
                    <!--<td class="text-center">{$loan.bond}</td>-->
                    <!--<td class="text-center">{$loan.rebate}</td>-->
                    <td class="text-center" data-container="body" data-toggle="tooltip" data-placement="top" title="手续费：{$loan.poundage}元，保证金：{$loan.bond}元，同行返点：{$loan.rebate}元">
                            {$loan.arrival}
                        <!--<a tabindex="0" class="btn btn-xs btn-danger" role="button" data-toggle="popover"-->
                           <!--data-trigger="focus" title="Dismissible popover"-->
                           <!--data-content="And here's some amazing content. It's very engaging. Right?">{$loan.arrival}</a></td>-->
                    <td class="text-center">{$loan.expenditure}</td>
                      <if condition="$loan.loan_status eq 1">
                      <td class="text-center" data-container="body" data-toggle="tooltip" data-placement="top" title="{$loan.is_bond_name}">

                          <if condition="$loan.profit_money gt 0">
                              <text class="text-success">+{$loan.profit_money}<text>
                                  <elseif condition="$loan.profit_money lt 0" />
                                  <text class="text-danger">{$loan.profit_money}<text>
                          </if>
                      </td>
                      <else />
                      <td class="text-center">

                          <if condition="$loan.profit_money gt 0">
                              <text class="text-success">+{$loan.profit_money}<text>
                                  <elseif condition="$loan.profit_money lt 0" />
                                  <text class="text-danger">{$loan.profit_money}<text>
                          </if>
                      </td>

                      </if>
                    <td class="text-center">{$loan.staff_name}</td>
                    <td class="text-center">
                        <if condition="$loan.tour_id neq 0">
                            <a href="{:U('home/tour/index')}&tour_id={$loan.tour_id}">{$loan.foreign_name}</a>
                            <else />
                            {$loan.foreign_name}
                        </if>
                        </td>
                    <td class="text-center">
                        <if condition="$loan.is_image eq 1">
                            <a id="foreign_image" attr-id="{$loan.loan_id}">查看</a>
                            <else />
                            暂无
                        </if>
                    </td>
                      <if condition="$userInfo.jurisdiction eq 2">
                          <td class="text-center">{$loan.company_name}</td>
                      </if>
                    <td class="text-center">{$loan.exp_time|date="Y-m-d",###}</td>
                      <!--<td class="text-center"><a href="{:U('home/repayments/index')}&search_loan_id={$loan.loan_id}">{$loan.repay_cyclical}</a></td>-->
                    <!--<td class="text-center">{$loan.sum_principal}</td>-->


                    <td class="text-center">
                      <if condition="$loan.loan_status eq 0">
                        <span class="label label-warning" id="change-loan-status" attr-id="{$loan.loan_id}" attr-status="{$loan.loan_status}" attr-m="home" attr-c="loan" attr-a="changeStatus">还款中</span>
                        <elseif condition="$loan.loan_status eq -1" />
                        <span class="label label-danger" id="change-loan-status" attr-id="{$loan.loan_id}" attr-status="{$loan.loan_status}" attr-m="home" attr-c="loan" attr-a="changeStatus">已逾期</span>
                          <elseif condition="$loan.loan_status eq 1" />
                          <span class="label label-success" id="change-loan-status" attr-id="{$loan.loan_id}" attr-status="{$loan.loan_status}" attr-m="home" attr-c="loan" attr-a="changeStatus">已结清</span>
                      </if>
                    </td>
                      <td class="text-center"><button class="btn btn-default btn-xs" id="loan-sendmessage" attr-id="{$loan.loan_id}" attr-m="home" attr-c="message" attr-a="getLoanMessage" attr-style="1" attr-nowdate="1970-01-01">发送短信</button></td>
                    <td class="text-center"><span id="edit-info" attr-id="{$loan.loan_id}" attr-m="home" attr-c="loan" attr-a="editLoan" data-toggle="modal" data-target="#editInfoModal"><i class="fa fa-edit fa-fw"></i></span>&nbsp;<span id="delete-info" attr-id="{$loan.loan_id}" attr-name="{$loan.customer_name}的贷款记录" attr-m="home" attr-c="loan" attr-a="deleteLoan"><i class="fa fa-trash-o fa-fw"></i></span></td>

                  </tr>
                </volist>
                </tbody>
              </table>
                <div class="pagination" >{$pageRes}</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    </section>
    <!-- /.content -->
  </div>

    <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="data-dismiss"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改贷款信息</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="baoju-form">
                        <!-- text input -->
                        <div class="form-group col-lg-6">
                            <label>客户姓名</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择客户姓名" data-size="8" id="customer_id" name="customer_id" onchange="addLoanSelectCustomer()">
                                <volist name="customers" id="customer">
                                    <option value="{$customer.id}">{$customer.name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>手机号码</label>
                            <input type="text" class="form-control " id="phone" placeholder="请输入手机号码">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>身份证号码</label>
                            <input type="text" class="form-control" id="idcard" placeholder="请输入身份证号码" >
                        </div>

                        <div class="form-group col-lg-6">
                            <label>产品类型</label>
                            <select class="form-control selectpicker show-tick" title="请选择产品类型" data-size="5" name="product_id" id="product_id" onchange="addLoanSelectProduct()">
                                <volist name="products" id="product">
                                    <option value="{$product.product_id}">{$product.product_name}</option>
                                </volist>
                            </select>
                        </div>
                        <!--<div class="form-group col-lg-6">-->
                            <!--<label>还款时间</label>-->
                            <!--<select class="form-control" id="cycle_id" >-->
                                <!--<option value="0">请选择</option>-->
                                <!--<volist name="cycles" id="cycle">-->
                                    <!--<option value="{$cycle.cycle_id}">{$cycle.cycle_name}</option>-->
                                <!--</volist>-->
                            <!--</select>-->
                        <!--</div>-->
                        <div class="form-group col-lg-6">
                            <label>还款时间</label>
                            <select class="form-control" id="cycle_id"  >
                                <option value="0">请选择</option>
                                <volist name="cycles" id="cycle">
                                    <option value="{$cycle.cycle_id}">{$cycle.cycle_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div id="cycle-append">

                        </div>
                        <div class="form-group col-lg-6">
                            <label>贷款金额</label>
                            <input type="text" class="form-control automatic " name="principal" id="principal" placeholder="请输入贷款本金">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>每期利息</label>
                            <input type="text" class="form-control automatic" name="cyc_interest" id="cyc_interest" placeholder="请输入每期产生利息">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>还款周期</label>
                            <input type="text" class="form-control automatic" name="cyclical" id="cyclical" placeholder="请输入还款周期数">
                        </div>
                        <!-- textarea -->
                        <div class="form-group col-lg-6">
                            <label>每期还款</label>
                            <input type="text" class="form-control" name="cyc_principal" id="cyc_principal" placeholder="请输入每期应还金额">
                        </div>
                        <!--<div class="form-group col-lg-6">-->
                            <!--<label>预计利息</label>-->
                            <!--<input type="text" class="form-control" name="interest" id="interest" placeholder="请输入预计贷款利息">-->
                        <!--</div>-->
                        <div class="form-group col-lg-6">
                            <label>手续费</label>
                            <select class="form-control selectpicker show-tick" multiple title="请选择手续费项目" data-selected-text-format="count > 4" data-size="5" id="poundage">
                                <volist name="poundages" id="poundage">
                                    <option value="{$poundage.poundage_id}">{$poundage.poundage_name}</option>
                                </volist>
                            </select>
                            <!--<input type="text" class="form-control" name="poundage" placeholder="请输入手续费">-->
                        </div>
                        <div id="poundage-append">

                        </div>
                        <div class="form-group col-lg-6">
                            <label>保证金</label>
                            <input type="text" class="form-control automatic" name="bond" id="bond" placeholder="请输入保证金金额">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>同行返点</label>
                            <input type="text" class="form-control automatic" name="rebate" id="rebate" placeholder="请输入同行返点金额">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>实际到账</label>
                            <input type="text" class="form-control" name="arrival" id="arrival" placeholder="请输入客户实际到账金额">
                        </div>
                        <!-- select -->
                        <div class="form-group col-lg-6">
                            <label>公司支出</label>
                            <input type="text" class="form-control" name="expenditure" id="expenditure" placeholder="请输入公司实际支出金额">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>客户经理</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择客户经理" data-size="8" name="staff_id" id="staff_id">
                                <volist name="staffs" id="staff">
                                    <option value="{$staff.staff_id}">{$staff.staff_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>外访经理</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择外访经理" data-size="8" name="foreign_id" id="foreign_id">
                                <volist name="staffs" id="staff">
                                    <option value="{$staff.staff_id}">{$staff.staff_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>借贷日期</label>
                            <input type="text" class="form-control sandbox-container" name="create_time" id="create_time" placeholder="请选择贷款时间">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>备注信息</label>
                            <textarea class="form-control" name="remark" id="remark"></textarea>

                        </div>
                        <div class="form-group col-lg-12" id="upload-image">
                            <label>上传外访资料（可多张）</label>
                            <input id="file-0c" class="file" type="file" multiple data-preview-file-type="any">
                        </div>
                        <div id="hide-image-div">
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" class="form-control sandbox-container" name="loan_id" id="loan_id">
                            <button type="button" class="btn btn-primary btn-block" id="add-record-loan" attr-m="home" attr-c="loan" attr-a="checkEdit">立即修改</button>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i>&nbsp;取消修改</button>-->
                    <!--<button type="button" class="btn btn-primary" id="add-record" attr-m="home" attr-c="staff" attr-a="checkEdit"><i class="fa fa-check fa-fw"></i>&nbsp;立即保存</button>-->
                </div>
            </div>
        </div>
    </div>


  <!-- /.content-wrapper -->
  <include file="Index/footer" />

